body{
    margin: 0% 15% 0;
    background-color: darkslateblue;
}


/* ############################## Header ######################################## */


.test-name{
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    padding: 5% 7%;
    margin: 0;
    color: white;
}

.question-num{
    float: left;
    text-align: left;
    width: 50%;
    margin: 0;
}

.test-clock{
    width: 50%;
    text-align: right;
    margin:0 0 0 auto;
}


/* ############################## Question/answer window ######################################## */


.qn-ans-window{
    background-color: rgb(138, 129, 196);
    border-radius: 1rem;
    border-style: solid;
    border-color: firebrick;
    padding: 3% 5% ;
    margin-top: 1%;
}

/* ############################## Pre-test info window ######################################## */

.test-image{
    width: 100%;
}

.user-info{
    font-size: 2rem;

}
.user-info input{
    padding: 3%;
    margin: 2% 0 3% 0;
    font-size: 2rem;
    border-radius: 0.5rem;
    width: 90%;
}

.user-info button{
    font-size: 2rem;
    padding: 3% 5%;
    border-radius: 0.5rem;
    margin: 5% auto;
    text-align: center;
    
}






/* ############################## Options ######################################## */

.option-btn{
    padding: 2% 2%;
    margin: 1% 0;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    font-size: 1rem;
    border-color: indigo;
}

.option-btn:hover{
    background-color: indigo;
    color: ivory;
    border-color: ivory;
}

/* ############################## Prev,next and finish buttons ######################################## */


.btn-below{
    padding: 4% 0;
}

.jump-div{
    float: left;
    width: 50%;
    margin: 0;
}

.end-div{
    margin-left: 50%;
    width: 50%;
    text-align: right;
}


.btn-custom{
    padding: 2% 5%;
    font-size: 1.5rem;
    background-color: greenyellow;
    color: honeydew;
    border-radius: 5px;
    border-color: green;
}

.btn-custom:hover{
    background-color: green;
    border-color: greenyellow;
    transition: 200ms;
}

.hidden{
    visibility: hidden;
    position: absolute;
}

.active{
    background-color: indigo;
    color: white;
    border-color: white;
}